.analitycs {
    // .analitycs__container
    &__container {
        @include adaptiveValue("margin-top", 120,90 );
        @include adaptiveValue("margin-bottom", 120,90 );
        
    }
    // .analitycs__content
    &__content {
        @media (max-width:$mobile){
            padding: toRem(30) toRem(0) toRem(10) toRem(0); 
            padding-right: toRem(0); 
        }
        @media (min-width:$mobile){
            padding: toRem(60) toRem(0) toRem(60) toRem(40);

        }
        
        flex: 0 0 toRem(550);
        width: 100%;
    }
    // .analitycs__image
    &__image {
        @media (min-width: em(560)){
            display: flex;
            justify-content: end;
            align-items: flex-end;
            margin-left: toRem(-20);
        }
        @media (max-width:em(767)){
            margin-left: toRem(-20);
            margin-right: toRem(-20);
        }       
        @media (max-width:$mobileSmall){
            margin-left: toRem(-150);
            margin-right: toRem(-300);
        }
        img{
            max-width: 100%;
            height: 100%;
        }
    }
    &__wpapper{
        border-radius: toRem(6);
        background-color: #0054F7;
        @media (max-width:$mobile){
            margin-left: toRem(-15);
            margin-right: toRem(-15); 
            padding-left: toRem(15);
            padding-right: toRem(15); 
       }
        @media (min-width:$tablet){
            display: flex;
        }
        overflow: hidden;
    }
    &__link{
        @media (min-width:$mobile){
            max-width: toRem(280);
        }
        padding: toRem(15) toRem(20);
        @include adaptiveValue("margin-top", 55,30 );

    }
    &__header{
        strong{
            position: relative;
            color: #0054F7;
            line-height: 1;
            background-color: #F5F5F5;
            font-weight: inherit;
        }
    }
}
